* {
	margin: 0;
	padding: 0;
	font: "微软雅黑";
}

ol li,
ul li {
	list-style-type: none;
}

body {
	background-color: #f8f8f8;
	display: flex;
	justify-content: center;
}

#a4 {
	width: 1240px;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

#resume-container {
	display: flex;
	width: 90%;
	margin: 70px 0;
	box-shadow: 0 0 40px #bdbdbd;
}

.container-part {
	display: flex;
	/* 浏览器打印预览背景颜色 */
	-webkit-print-color-adjust: exact;
	flex-direction: column;
	align-items: center;
}

#container-left {
	/* box-flex: 3;
			-webkit-box-flex: 3;
			-moz-box-flex: 3;
			-webkit-flex: 3;
			-ms-flex: 3; */
	flex: 2.5;
	background-color: #284664;
	color: #fff;
}

#container-right {
	/* box-flex: 7;
			-webkit-box-flex: 7;
			-moz-box-flex: 7;
			-webkit-flex: 7;
			-ms-flex: 7; */
	flex: 7.5;
}

#avatar {
	width: 140px;
	height: 200px;
	overflow: hidden;
	border: 6px solid rgba(255, 255, 255, 0.9);
	margin: 50px 0;
}

#self-info,
#tech-stack {
	width: 90%;
}

#self-info li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 22px 0;
}

#self-info li .iconfont {
	font-size: 20px;
}

#self-info li .desc {
	margin-left: 5px;
}

#tech-stack {
	margin-top: 22px;
}

#tech-stack li {
	margin: 22px 0;
}

#tech-stack li>div {
	margin: 10px 0;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: distribute-all-lines; // 这行必加，兼容ie浏览器
	text-align-last: justify;
}

#tech-stack .bar-back {
	width: 100%;
	height: 10px;
	background-color: #f8f8f863;
}

#tech-stack .bar-percentage {
	overflow: hidden;
}

#tech-stack .bar {
	display: flex;
	justify-content: space-evenly;
	height: inherit;
	/* --bar-width: 158.896; */
}

#tech-stack .bar>div {
	height: 10px;
	flex: 2.5;
}

#tech-stack .bar>.understand {
	background-color: #cee93e;
	/* width: calc(0.25*var(--bar-width)*1px); */
}

#tech-stack .bar>.experienced {
	background-color: #f6bc24;
	/* width: calc(0.25*var(--bar-width)*1px); */
}

#tech-stack .bar>.familiar {
	background-color: #f85416;
	/* width: calc(0.25*var(--bar-width)*1px); */
}

#tech-stack .bar>.proficient {
	background-color: #d00664;
	/* width: calc(0.25*var(--bar-width)*1px); */
}

.language-box {
	display: flex;
	justify-content: center;
	width: 50px;
}

.languageLogo {
	color: #000b;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

.language-ul {
	display: none;
	flex-direction: column;
	align-items: center;
}

.languageLogo:hover .language-ul {
	display: flex;
}

.hobby-title {
	width: 90%;
	color: #f8f8f8c9;
	margin: 42px 0 20px 0;
	font-size: 30px;
	font-weight: bold;
}

#hobby {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#hobby>li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 0px;
	margin-right: 30px;
}

#hobby>li>div {
	color: #f8f8f8c9;
	margin: 5px 0;
}

#hobby>li>div:first-child {
	font-size: 40px;
}

#name,
#target {
	color: #284664;
	margin-top: 40px;
}

#name {
	font-size: 50px;
	font-weight: bold;
}

#target {
	font-size: 20px;
	font-weight: 100;
	margin-top: 10px;
}

#profile-list {
	margin-top: 20px;
}

#profile-list>li {
	padding-top: 20px;
}

#profile-list>li>div:first-child {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#profile-list>li>div:first-child>div:first-child div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #284664;
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin-right: 10px;
	flex: 1;
	font-size: 30px;
	font-weight: bold;
}

#profile-list>li>div:first-child>div:last-child {
	color: #284664;
	border-bottom: 2px solid #284664;
	flex: 9;
	font-size: 30px;
	font-weight: bold;
}

.list li {
	display: flex;
	margin: 10px 0;
}

.date {
	flex: 3;
	font-weight: bold;
}

.location {
	flex: 4;
	font-weight: bold;
}

.head-title {
	flex: 3;
	font-weight: bold;
}

.special-list li {
	list-style-type: disc;
	margin-left: 20px;
}

a {
	color: #3b3b3b;
	font: 12px/1.5 "微软雅黑";
	text-decoration: none;
}
